In [2]:
"""
 MySQL injection to Spark, using the Sakila sample database.


"""
import logging
from pyspark.sql import SparkSession

# Creates a session on a local master
spark = SparkSession.builder.appName("MySQL to Dataframe using a JDBC Connection") \
    .master("local[*]").getOrCreate()

user = "root"
password = "password"
use_ssl="false"
mysql_url = "jdbc:mysql://localhost:3306/testschema"
dbtable = "acct"
database="testschema"

df = spark.read.format("jdbc") \
    .options(url=mysql_url,
             database=database,
             dbtable=dbtable,
             user=user,
             password=password) \
    .load()

#df = df.orderBy(df.col("last_name"))

# Displays the dataframe and some of its metadata
df.show(5)
df.printSchema()

logging.info("The dataframe contains {} record(s).".format(df.count()))

+---+-----+
| id| name|
+---+-----+
|  1|Neyaz|
|  2| Nick|
|  3| hari|
|  4| john|
+---+-----+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [3]:
df.show(1)

+---+-----+
| id| name|
+---+-----+
|  1|Neyaz|
+---+-----+
only showing top 1 row

In [4]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [6]:
manual_schema = "'hello', STRINGTYPE, '23', INTEGERTYPE"

In [7]:
print(manual_schema)

'hello', STRINGTYPE, '23', INTEGERTYPE

In [12]:
print(sc)

<SparkContext master=local[*] appName=PySparkShell>

In [13]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7fafc141d5b0>

In [48]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
manual_schema_2 = StructType([StructField("Name",StringType(), True), StructField("Age",IntegerType(), True)])

print(manual_schema_2)

In [68]:

mydata = [("hello",20),("hi",21)]
mydf = spark.createDataFrame(mydata, manual_schema_2)

In [69]:
print(mydata)
mydf.show()

[('hello', 20), ('hi', 21)]
+-----+---+
| Name|Age|
+-----+---+
|hello| 20|
|   hi| 21|
+-----+---+

In [71]:
mydf.printSchema()
print(type(mydata))

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

<class 'list'>